<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/jdbc
    http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 配置dao -->
	<bean id="TestDao" class="com.zehao.dao.impl.TestDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="UserDao" class="com.zehao.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="StoreDao" class="com.zehao.dao.impl.StoreDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="SpecialtyDao" class="com.zehao.dao.impl.SpecialtyDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="VillageDao" class="com.zehao.dao.impl.VillageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ViewsDao" class="com.zehao.dao.impl.ViewsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="CommentDao" class="com.zehao.dao.impl.CommentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="ViewImageDao" class="com.zehao.dao.impl.ViewImageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="SuggestDao" class="com.zehao.dao.impl.SuggestDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 配置service -->
	<bean id="TestService" class="com.zehao.service.impl.TestServiceImpl">
		<property name="IBaseDao" ref="TestDao" />
	</bean>
	<bean id="UserService" class="com.zehao.service.impl.UserServiceImpl">
		<property name="IBaseDao" ref="UserDao" />
	</bean>
	<bean id="StoreService" class="com.zehao.service.impl.StoreServiceImpl">
		<property name="IBaseDao" ref="StoreDao" />
	</bean>
	<bean id="SpecialtyService" class="com.zehao.service.impl.SpecialtyServiceImpl">
		<property name="IBaseDao" ref="SpecialtyDao" />
	</bean>
	<bean id="VillageService" class="com.zehao.service.impl.VillageServiceImpl">
		<property name="IBaseDao" ref="VillageDao" />
	</bean>
	<bean id="ViewsService" class="com.zehao.service.impl.ViewsServiceImpl">
		<property name="IBaseDao" ref="ViewsDao" />
	</bean>
	<bean id="CommentService" class="com.zehao.service.impl.CommentServiceImpl">
		<property name="IBaseDao" ref="CommentDao" />
	</bean>
	<bean id="ViewImageService" class="com.zehao.service.impl.ViewImageServiceImpl">
		<property name="IBaseDao" ref="ViewImageDao" />
	</bean>
	<bean id="SuggestService" class="com.zehao.service.impl.SuggestServiceImpl">
		<property name="IBaseDao" ref="ViewImageDao" />
	</bean>

	<!-- 配置action -->
	<bean id="TestAction" class="com.zehao.action.TestAction" scope="prototype">
		<property name="ITestService" ref="TestService" />
	</bean>
	<bean id="UploadImageAction" class="com.zehao.action.UploadImageAction" scope="prototype">
	</bean>
	<bean id="LoginAction" class="com.zehao.action.LoginAction" scope="prototype">
		<property name="iUserService" ref="UserService" />
	</bean>
	<bean id="UserAction" class="com.zehao.action.UserAction" scope="prototype">
		<property name="iUserService" ref="UserService" />
	</bean>
	<bean id="StoreAction" class="com.zehao.action.StoreAction" scope="prototype">
		<property name="iStoreService" ref="StoreService" />
	</bean>
	<bean id="SpecialtyAction" class="com.zehao.action.SpecialtyAction" scope="prototype">
		<property name="iSpecialtyService" ref="SpecialtyService" />
	</bean>
	<bean id="VillageAction" class="com.zehao.action.VillageAction" scope="prototype">
		<property name="iVillageService" ref="VillageService" />
	</bean>
	<bean id="ViewsAction" class="com.zehao.action.ViewsAction" scope="prototype">
		<property name="iVillageService" ref="VillageService" />
		<property name="iViewsService" ref="ViewsService" />
	</bean>
	<bean id="CommentAction" class="com.zehao.action.CommentAction" scope="prototype">
		<property name="iCommentService" ref="CommentService" />
	</bean>
	<bean id="ViewImageAction" class="com.zehao.action.ViewImageAction" scope="prototype">
		<property name="iViewImageService" ref="ViewImageService" />
		<property name="iVillageService" ref="VillageService" />
		<property name="iViewsService" ref="ViewsService" />
	</bean>
	
	<bean id="AppLoginAction" class="com.zehao.app.action.AppLoginAction" scope="prototype">
		<property name="iUserService" ref="UserService" />
	</bean>
	<bean id="AppSignInAction" class="com.zehao.app.action.AppSignInAction" scope="prototype">
		<property name="iUserService" ref="UserService" />
	</bean>
	<bean id="AppVillageAction" class="com.zehao.app.action.AppVillageAction" scope="prototype">
		<property name="iViewImageService" ref="ViewImageService" />
		<property name="iVillageService" ref="VillageService" />
		<property name="iViewsService" ref="ViewsService" />
	</bean>
	<bean id="AppViewAction" class="com.zehao.app.action.AppViewAction" scope="prototype">
		<property name="iViewImageService" ref="ViewImageService" />
		<property name="iViewsService" ref="ViewsService" />
	</bean>
	<bean id="AppLikeAction" class="com.zehao.app.action.AppLikeAction" scope="prototype">
		<property name="iVillageService" ref="VillageService" />
		<property name="iViewsService" ref="ViewsService" />
	</bean>
	<bean id="AppUserAction" class="com.zehao.app.action.AppUserAction" scope="prototype">
		<property name="iUserService" ref="UserService" />
	</bean>
	<bean id="AppPictureAction" class="com.zehao.app.action.AppPictureAction" scope="prototype">
		<property name="iUserService" ref="UserService" />
		<property name="iViewImageService" ref="ViewImageService" />
	</bean>
	<bean id="AppSortAction" class="com.zehao.app.action.AppSortAction" scope="prototype">
		<property name="iViewsService" ref="ViewsService" />
	</bean>
	<bean id="AppSuggestAction" class="com.zehao.app.action.AppSuggestAction" scope="prototype">
		<property name="iUserService" ref="UserService" />
		<property name="iSuggestService" ref="SuggestService" />
	</bean>

</beans>
